<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	

	<button type="button" style="margin-top: 15pt; margin-left: 15pt; margin-bottom: 10pt; border: 0; background-color: white;" onclick="crayBtn1()">
		<%= res %>
	</button>

<script>
var certificationRes = <%= res %>;
function crayBtn1()
{
	console.log('askldfjskladfj');
	window.close();
}
</script>


</body>
</html>