<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <script type="text/javascript">

      alert('<%=error%>')
      history.back();
    </script>
  </body>
</html>